<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Online learning</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body onload="show('find-courses');find_courses();">
    <div class="nav-container">
        <nav class="top-nav">
            <menu class="nav-menu nav-menu--disable">
                <li class="menu_item" id="find-course">
                    <div onclick="show('find-courses');find_courses();">Tìm kiếm khóa học</div>
                    <menu class="nav-child-menu">
                <li class="menu_item" id="insert-course">
                    <div onclick="show('form-insert-course')">Tạo khóa học</div>
                </li>
                <li class="menu_item" id="menu-my-course">
                    <div onclick="show_my_courses()">Quản lí khóa học</div>
                </li>
            </menu>
            </li>
            <li class="menu_item" id="show-list" onclick="show('schedule');">
                <div>Lịch Học</div>
            </li>
            <li class="menu_item" id="show-history" onclick="show_registered_courses();">
                <div>Lịch sử đăng ký</div>
            </li>
            <li class="menu_item" id="show-become-teacher">
                <div onclick="show('form-become-teacher');"> Trở thành giáo viên</div>
                <menu class="nav-child-menu">
                    <li class="menu_item" id="show-certificate">
                        <div  onclick="show_cert();">Xem bằng cấp</div>
                    </li>
                </menu>
            </li>
            <li class="menu_item" id="change-info">
                <div onclick="show('form-change-info')">Chỉnh sửa thông tin</div>
                <menu class="nav-child-menu">
                <li class="menu_item" id="update-certificate" onclick="show('form-update-cert')">
                    <div>Cập nhật bằng cấp</div>
                </li>
                </menu>
            </li>
            <li class="menu_item" id="logout" onclick="">
                <form action="/log-out" method="post"><a href="/log-out" style="text-decoration: none;color: black;"><div>Đăng Xuất</div></a></form>
            </li>
            </menu>
        </nav>
    </div>

    <div class="form-container" id="find-courses">
        <form action="/find-courses" method="post" onsubmit="return find_courses()">
            <div class="search-bar">
                <input type="text" id="find-courses-input">
                <button type="submit">Tìm</button>
            </div>

            <div class="grid-container" id="search-result">

            </div>
        </form>
    </div>

    <div class="form-container" id="form-insert-course">
        <form class="form" action="/insert-course" method="post" onsubmit="return insert_course();">
            <div class="form__element">
                <h2 class="form__element_tag">Tên khóa học:</h2>
                <input type="text" id="course_name" placeholder="VD:" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Lớp:</h2>
                <input type="number" id="course_grade" placeholder="VD:" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Số buổi dự kiến:</h2>
                <input type="number" id="course_class_num" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Số học sinh tối thiểu:</h2>
                <input type="number" id="course_min_student" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Học phí mỗi HV(VND):</h2>
                <input type="number" id="fee" required>
            </div>
            <div class="form__element">
                <button class="btn btn--submit" type="submit">Thêm</button>
            </div>
        </form>
    </div>
    <div class="form-container" id="form-change-info">
        <form class=" form" action="/change-info" method="post">
            <div class="form__element">
                <h2 class="form__element_tag">Họ tên:</h2>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Ngày sinh:</h2>
                <input type="date" name="birth" id="birth" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Email:</h2>
                <input type="text" name="email" id="email" onfocusout="checkEmail()" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">SĐT:</h2>
                <input type="text" name="SDT" id="SDT" onfocusout="checkSDT()" required>
            </div>
            <div class="form__element">
                <button class="btn btn--submit" type="submit">Lưu thay đổi thông tin cá nhân</button>
            </div>
        </form>
    </div>
    <div class="form-container" id="form-become-teacher">
        <form class=" form" action="/become-teacher" method="post">
            <div class="whattodo">
                <p>Để đăng kí làm giáo viên bạn vui lòng điền vào form thông tin một
                    bằng cấp bạn có để được phê duyệt thành giáo viên<br>
                    Sau khi được phê duyệt bạn có thể chọn chức năng cập nhật để thêm vào các bằng cấp khác</p>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Tên bằng cấp:</h2>
                <input type="text" name="cert_name" id="cert_name" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Ngày nhận bằng:</h2>
                <input type="date" name="cert_recv_date" id="cert_recv_date" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Nơi cấp:</h2>
                <input type="text" name="cert_provider" id="cert_provider" required>
            </div>
            <div class="form__element">
                <button class="btn btn--submit" type="submit">Thêm bằng cấp</button>
            </div>
        </form>
    </div>
    <div class="form-container" id="form-update-cert">
        <form class=" form" action="/update-cert" method="post" onsubmit="return update_cert();">
            <div class="form__element">
                <h2 class="form__element_tag">Tên bằng cấp:</h2>
                <input type="text" name="cert_name_more" id="cert_name_more" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Ngày nhận bằng:</h2>
                <input type="date" name="cert_recv_date_more" id="cert_recv_date_more" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Nơi cấp:</h2>
                <input type="text" name="cert_provider_more" id="cert_provider_more" required>
            </div>
            <div class="form__element">
                <button class="btn btn--submit" type="submit">Thêm bằng cấp</button>
            </div>
        </form>
    </div>
    <div class="form-container" id="registered-courses-data"></div>
    <div class="form-container" id="my-courses">
    </div>
    <div class="form-container" id="show-cert" >
    </div>
    <div class="form-container schedule-table" id="schedule">
        <h2>Schedule</h2>
        <table style="width: 100%">
            <tr>
                <th>Ngày/Giờ</th>
                <th>07g30 - 09g</th>
                <th>09g - 11g30</th>
                <th>12g30 - 14g</th>
                <th>14g - 16g30</th>
                <th>17g30 - 19g</th>
                <th>19g - 20g30</th>
            </tr>
            <tr>
                <td>Thứ Hai</td>
            </tr>
            <tr>
                <td>Thứ Ba</td>
            </tr>
            <tr>
                <td>Thứ Tư</td>
            </tr>
            <tr>
                <td>Thứ Năm</td>
            </tr>
            <tr>
                <td>Thứ Sáu</td>
            </tr>
            <tr>
                <td>Thứ Bảy</td>
            </tr>
            <tr>
                <td>Chủ Nhật</td>
            </tr>
        </table>
    </div>
    <div class="form-container" id="course-info">
        
        <form class="form"action="">
            <h2>Thông tin khóa học X</h2>
            <div class="form__element">Lớp</div>
            <div class="form__element">Giá Tiền</div>
            <div class="form__element">Đánh giá</div>
        </form>
        
    </div>

</body>
<script src="/js/function.js"></script>
</html>