<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Online learning</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
    <div class="nav-container">
        <nav class="top-nav">
            <menu class="nav-menu nav-menu--disable">
                <li class="menu_item" id="find-course">
                    <div onclick="show_find_course();document.forms[0].submit();">Tìm kiếm khóa học</div>
                    <menu class="nav-child-menu">
                        <li class="menu_item" id="insert-course">
                            <div onclick="show_insert_course()">Tạo khóa học</div>
                        </li>
                    </menu>
                </li>
                <li class="menu_item" id="show-list" onclick="">
                    <div>Lịch học</div>
                </li>
                <li class="menu_item" id="show-history" onclick="">
                    <div>Lịch sử đăng ký</div>
                </li>
                 <li class="menu_item" id="show-history" onclick="">
                    <div>Trở thành giáo viên</div>
                </li>
                <li class="menu_item" id="edit-info">
                    <div onclick="">Chỉnh sửa thông tin</div>
                    <menu class="nav-child-menu">
                        <li class="menu_item" id="update-certificate">
                            <div onclick="">Cập nhật bằng cấp</div>
                        </li>
                    </menu>
                </li>
            </menu>
        </nav>
    </div>

    <div class="form-container" id="find-courses">
        <form action="/find-courses" method="post">
            <div class="search-bar">
                <input type="text" name="txt" >
                <button type="submit">Tìm</button>
            </div>
            
            <div class="search-result">
                <div class="grid-container">
                    
                    <% for(var i=0;i<data.length;i++){ %>
                        <div class="grid-item">
                            <div><%= data[i].MADT %></div>
                            <div><%= data[i].TENDT %></div>
                            <div><%= data[i].CAPQL %></div>
                        </div>
                    <% } %>
                    

                </div>
            </div>
        </form>
    </div>
    <div class="form-container" id="form-insert-course">
        <form class=" form" action="/insert-course" method="post">
            <div class="form__element">
                <h2 class="form__element_tag">Tên khóa học:</h2>
                <input type="text" name="course_name" placeholder="VD:" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Lớp:</h2>
                <input type="number" name="course_grade" placeholder="VD:" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Số buổi dự kiến:</h2>
                <input type="number" name="course_class_num" required>
            </div>
            <div class="form__element">
                <h2 class="form__element_tag">Số học sinh tối thiểu:</h2>
                <input type="number" name="course_min_student" required>
            </div>
            <div class="form__element">
                <button class="btn btn--submit" type="submit">Thêm</button>
            </div>
            <div class="form-message" id="form-insert-bill-message">
            </div>
        </form>
    </div>



</body>
<script type="text/javascript" src="./javascript/js.js"></script>
</html>